{
    "organizations": [
        {
            "id": "*",
            "data": {
                "flickr": {
                    "token": "a_secret_token",
                    "api_key": "an_api_key",
                    "shared_secret": "a_shared_secret",
                    "verify_code": "a_verify_code",
                    "token_secret": "a_token_secret"
                },
                "google": {
                    "api_key": an_api_key",
                    "email_address": "an_email_address"
                }
            }
        }
    ]
}